@using ThirtyOne.Web.Helpers
@using ThirtyOne.Shared.Helpers
@model GameViewModel
@{
    ViewData["Title"] = "Thirty One - Playing Game";
}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            @if (Model.CurrentPlayer.Hand.Count <= 3)
            {
                <h3>Table</h3>

                <div class="row cardtable">
                    <a href="@Url.Action("MakeAMove","Game",new {Move=PlayerAction.DrawFromDeck, Id=Model.CurrentGame.GameId })">
                        <img src="~/images/Cards/back.png" class="playingcard selectablecard" />
                    </a>
                    <a href="@Url.Action("MakeAMove","Game",new {Move=PlayerAction.DrawFromTable, Id=Model.CurrentGame.GameId })">
                        <img src="~/images/Cards/@Model.CurrentGame.Table.Last().FileName()" class="playingcard selectablecard" />
                    </a>
                    @if (!Model.CurrentGame.Players.Any(p => p.HasKnocked))
                    {
                        <a href="@Url.Action("MakeAMove","Game",new {Move=PlayerAction.Knock, Id=Model.CurrentGame.GameId })">
                            <img src="~/images/knock.png" class="playingcard selectablecard" />
                        </a>
                    }

                </div>
            }

            @if (Model.CurrentPlayer.Hand.Count == 3)
            {
                <h3>Your hand (@Model.CurrentPlayer.Hand.CalculateScore() points)</h3>

                <div class="row">
                    @foreach (var c in Model.CurrentPlayer.Hand)
                    {
                        <img src="~/images/Cards/@c.FileName()" class="playingcard" />
                    }

                </div>
            }
            else
            {
                <h3>Your hand, pick which card to drop</h3>

                <div class="row">
                    @for (int i = 0; i < Model.CurrentPlayer.Hand.Count; i++)
                    {
                        <a href="@Url.Action("DropCard", "Game", new { Id = Model.CurrentGame.GameId, Card=i })">
                            <img src="~/images/Cards/@Model.CurrentPlayer.Hand[i].FileName()" class="playingcard selectablecard" />
                        </a>
                    }

                </div>
            }
        </div>
        <div class="col-md-5">
            <h1 class="display-4">Your turn</h1>

            @if (!string.IsNullOrEmpty(Model.CurrentPlayer.LastAction))
            {
                <p class="lead">You @Model.CurrentPlayer.LastAction</p>
            }
            <hr />
            <partial name="_PlayerList" model="Model.CurrentGame" />

        </div>

    </div>
</div>